/* Reusable css  */
:root {
    --header-font: #FFFBF5;
    --header: #27374D;
    --button-hover: #96B6C5;
}

/* layout and color for header section */
header {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 125%;
    color: var(--header-font);
    background-color: var(--header);
}

/* positioning for the view high scores */
#high-score {
    margin: auto 0 auto 2rem;
    transition: 0.5s ease font-size;

}

/* added hovering effect */
#high-score:hover{
    cursor: pointer;
    font-size: 110%;
    
}

/* positioning for the timer */
#timer {
    margin: auto 2rem auto auto;
}

/* positions the main section into a column and centers everything */
main {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}

/* change height */
#main-page{
    height: 40rem;
}

/* change margin for top and bottom, also font size */
h1 {
    margin: 1rem 0;
    font-size: 4rem;
}

/* margin on all sides and change font size */
main p {
    margin: 2rem 3rem;
    font-size: 1.25rem;
}

/* centers the button, change size and color */
button {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid var(--header);
    color: var(--header-font);
    background-color: var(--header);
    font-size: large;
    transition: 0.5s ease background-color, color, border;
}

/* adding hover effect  */
button:hover {
    cursor: pointer;
    color: black;
    background-color: var(--button-hover);
    border: var(--button-hover) solid 1px;
}

/* changes mouse display when hovering */
.quiz-options:hover {
    cursor: pointer;
}

/* changes mouse display when hovering */
#inital-submit:hover{
    cursor: pointer;
}

/* when on a small screen, the header font size will decrease */
@media screen and (max-width: 320px) {
    header {font-size: 100%;}
}